@model List<ModelEF.Model.Category>

<div class="col-xs-12 col-sm-4 col-md-4 col-lg-3 pull-left">
    <aside id="tg-sidebar" class="tg-sidebar">
        <div class="tg-widget tg-widgetsearch">
            <form class="tg-formtheme tg-formsearch">
                <div class="form-group">
                    <button type="submit"><i class="icon-magnifier"></i></button>
                    <input type="search" name="search" class="form-group"
                           placeholder="Nhập tên sách, tác giả ">
                </div>
            </form>
        </div>
        <div class="tg-widget tg-catagories">
            <div class="tg-widgettitle">
                <h3>Loại sách</h3>
            </div>

            <div class="tg-widgetcontent">
                @foreach (var item in Model)
                {
                    <ul>
                        <li>
                            <a href="@item.IDCategory">@item.NameCategory</a>
                        </li>
                    </ul>
                }

            </div>
        </div>


    </aside>
</div>
